<!doctype html>
<html lang="ru">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Anton V Boretscy">
    <title>Фиксация трафика в ДЦ Юг-Авто</title>
	
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ДЦ Юг-Авто">
    <meta name="apple-mobile-web-app-title" content="ДЦ Юг-Авто">
    <meta name="theme-color" content="#003375">
    <meta name="msapplication-navbutton-color" content="#003375">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="assets/css/app.css?<?=md5_file(__DIR__.'/assets/css/app.css');?>" rel="stylesheet">
    
  </head>
  <body class="pb-5"><div id="app">
    
    <div class="bg-yadarkblue c-yawhite py-2 mb-3">
      <div class="container">
        <div class="row top-row">
          <div class="col-3">
            <a href="/v2/">
              <svg xmlns="http://www.w3.org/2000/svg">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Logo-YA-M"></use>
              </svg>
            </a>
          </div>
          <div class="col pt-2 text-center" v-if="auth.token">
            <a href="#" v-if="step == 1" @click.prevent="NextStep({}, 100)"><i class="fa fa-plus"></i> Добавить рабочий лист</a>
            <a href="#" v-if="step != 1" @click.prevent="Reset()"><i class="fa fa-refresh" aria-hidden="true"></i> Отменить</a>
          </div>
          <div class="col-3 pt-2 text-right">
            <a href="#" @click.prevent="UnAuth()" v-if="auth.token">Выйти <i class="fa fa-sign-out"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" v-if="!auth.token">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Авторизация</h3></div>
        <div class="col-md-12">
          <form autocomplete="off">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" v-model="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" name="password" placeholder="Пароль *" v-model="passwd">
            </div>
            <div class="form-group"><a class="but but-blue" role="butLogin" href="#" @click.prevent="Auth({email: email, passwd: passwd})">Войти</a></div>
          </form>
          <div class="col-12 py-2 px-0 mb-2" v-if="auth.status == 'error'">
            <div class="alert alert-danger">{{ auth.description }}</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" v-if="auth.token && step == 1">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Количество посетителей</h3></div>
      </div>
      <div class="row text-center">
        <div class="col-6 mb-3 d-flex justify-content-center" v-for="n in 8"><div class="but but-blue but-circle circle-ladge" @click.prevent="NextStep({quantity: n}, 2)"><span class="h1">{{ n }}</span></div></div>
      </div>
    </div>
    
    <div class="container" v-if="auth.token && step == 2">
      <div class="row">
        <div class="col text-center py-3"><h3>Цель визита</h3><a href="#" @click.prevent="NextStep({}, 1)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> назад</a></div>
      </div>
      <div class="row text-center mb-4" v-for="(target, key) in targets">
        <div class="col-12 mb-2 " v-for="targ in target">
          <a class="h4 m-0 but d-block" 
          	v-bind:class="{ 'py-4 but-blue': key==1, 'py-3 but-blue': key==2, 'py-2 but-gray': key==3 }" 
            @click.prevent="NextStep({target_id: targ.id}, targ.next_step)"
            >{{ targ.ru_name }}</a>
        </div>
      </div>
    </div>
    
    <div class="container" v-if="auth.token && step == 3">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Менеджер</h3><a href="#" @click.prevent="NextStep({}, 2)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> назад</a></div>
      </div>
      <div class="row text-center">
        <div class="col-10 py-2"></div>
        <div class="col-1 py-2"></div>
        <div class="col-1 py-2"><small>Предв. согл.</small></div>
      </div>
      
      <div class="row mb-2 text-center" v-for="manager in managers" :key="manager.id">
        <div class="col-1 h4 m-0 but" v-bind:class="[Number(manager.results.current) > 0 ? 'but-blue' : 'but-gray']">{{ manager.results.current }}</div>
        <div class="col-1 py-2"></div>
        <div class="col-8 p-0">
          <a class="py-2 but but-gray h4 m-0 d-block" @click.prevent="NextStep({manager_id: manager.id, arrangement: manager.arrangement}, 4)">{{ manager.ru_name }}</a>
        </div>
        <div class="col-1 py-2"></div>
        <div class="col-1 p-0">
          <a class="d-block py-2 m-0 h4 but" @click.prevent="manager.arrangement = !manager.arrangement" v-bind:class="[manager.arrangement ? 'but-blue' : 'but-gray']">
              <i class="fa" aria-hidden="true"
                v-bind:class="[manager.arrangement ? 'fa-check-square-o' : 'fa-square-o']"
                >
              </i>
          </a>
        </div>
        <div class="col-2 py-2"></div>
        <div class="col-8 p-0 mb-2">
          <div class="progress bg-yawhite" style="height: 3px;">
            <div class="progress-bar bg-yayellow" role="progressbar" v-bind:style="{ 'width': manager.results.percent }" v-bind:aria-valuenow="manager.results.percent_raw" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-1 py-2"></div>
        
      </div>
    </div>
    
    <div class="container" v-if="auth.token && step == 4">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Контакты</h3><a href="#" @click.prevent="NextStep({}, 3)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> назад</a></div>
      </div>
      <div class="row text-center" id="contact">
        <div class="col-12 p-0 mb-2">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="+7 (___) ___-__-__" v-mask="mask" v-model="phone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Имя" v-model="name">
          </div>
        </div>
        <div class="col-12 py-2 px-0 mb-2" v-if="FormatPhoneIn(phone).length > 7">
          <div class="alert" 
            v-bind:class="[client.result.status == 'success' ? 'alert-success' : 'alert-secondary']" 
            @click.prevent="phone = FormatPhoneOut( client.result.phone ); name = client.result.name;"
            >{{ client.result.name }}</div>
        </div>
        <div class="col-12 py-2 mb-2 but but-blue" v-if="FormatPhoneIn(phone).length == 11" @click.prevent="NextStep({phone: phone, name: name, agreement: true}, 5)"><div class="h4 m-0">Далее</div></div>
        <div class="col-12 py-2 but but-gray" @click.prevent="NextStep({agreement: false}, 5)"><div class="h4 m-0">Пропустить</div></div>
      </div>
    </div>
    
    <div class="container"  v-if="auth.token && step == 5">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Комментарий</h3><a href="#" @click.prevent="NextStep({}, 4)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> назад</a></div>
      </div>
      <div class="row text-center">
        <div class="col-12 py-2 mb-2">
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" rows="5" v-model="comment"></textarea>
          </div>
        </div>
        <div class="col-12 py-2 mb-2 but but-blue" @click.prevent="SendStat()"><div class="h4 m-0">Отправить</div></div>
        <div class="col-12 py-2 mb-2 but but-gray" v-if="status" @click.prevent="Reset()"><div class="h4 m-0">Завершить</div></div>
      </div>
    </div>
    
    <div class="container"  v-if="auth.token && step == 100">
      <div class="row">
        <div class="col-md-12 text-center py-3"><h3>Посетители сегодня</h3><a href="#" @click.prevent="Reset()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> назад</a></div>
      </div>
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table class="table table-sm table-hover table-hover">
            <thead>
              <tr>
                <th style="width: 30%">Менеджер</th>
                <th style="width: 20%">Цель визита</th>
                <th style="width: 20%">Рабочий лист</th>
                <th style="width: 15%">Предв. согл</th>
                <th style="width: 15%">Время</th>
              </tr>
            </thead>
            <tbody v-for="stat in stats">
              <tr @click.prevent="show_stat = stat.id">
                <td>{{ stat.manager_name }}</td>
                <td>{{ stat.target_name }}</td>
                <td>{{ stat.work_list }}</td>
                <td class="text-center"><i class="fa fa-check-square-o" aria-hidden="true" v-if="stat.arrangement == '1'"></i></td>
                <td>{{ stat.time }}</td>
              </tr>
              <tr  class="table-secondary" v-if="show_stat == stat.id">
                <td class="pt-2" colspan="3">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Рабочий лист" v-model="stat.work_list">
                    <small class="form-text text-muted">Назначить или обновить рабочий лист</small>
                  </div>
                </td>
                <td class="pt-3"><a href="#" class="but but-blue" @click.prevent="SetWorklist({id: stat.id, work_list: stat.work_list})">Сохранить</a></td>
                <td class="pt-3"><a href="#" class="but but-gray" @click.prevent="show_stat = false">Отменить</a></td>
              </tr>
              <tr  class="table-secondary" v-if="show_stat == stat.id">
                <td>Имя: <br />{{ stat.name }}<small v-if="!stat.name">Неизвестно</small></td>
                <td>Телефон: <br />{{ stat.phone }}<small v-if="!stat.phone">Неизвестно</small></td>
              	<td colspan="3">Комментарий: <br />{{ stat.comment }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="bg-yagray fixed-bottom py-2">
      <div class="container">
        <div class="row">
          <div class="col text-center" v-if="auth.token">
            <small><i class="fa fa-map-marker" aria-hidden="true"></i> {{ auth.dc }}</small>
          </div>
          <div class="col text-center" v-if="auth.token">
            <small><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ auth.name }}</small>
          </div>
        </div>
      </div>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" width="0" height="0" display="none" aria-hidden="true">
   
        <symbol id="Logo-YA" viewbox="0 0 360 110">
            <title>Logo-YA</title>
            <path fill="#1A3467" d="M99.953,62.184l-3.859,0.867l3.23,2.278c-1.122,4.722-2.983,9.154-5.47,13.172l-3.878-0.672l2.099,3.318
                c-2.8,3.873-6.209,7.285-10.081,10.083l-3.327-2.098l0.672,3.88c-4.012,2.488-8.45,4.349-13.166,5.462l-2.277-3.223l-0.868,3.86
                c-2.326,0.373-4.702,0.572-7.129,0.572c-2.425,0-4.804-0.199-7.127-0.578l-0.868-3.854l-2.274,3.223
                c-4.725-1.113-9.156-2.974-13.173-5.462l0.674-3.88l-3.322,2.098c-3.871-2.798-7.281-6.21-10.085-10.083l2.104-3.318l-3.882,0.672
                c-2.489-4.018-4.35-8.45-5.472-13.172l3.233-2.278l-3.858-0.867c-0.374-2.322-0.579-4.704-0.579-7.125
                c0-2.429,0.206-4.809,0.579-7.129l3.858-0.869l-3.23-2.274c1.119-4.723,2.983-9.154,5.469-13.173l3.882,0.674l-2.104-3.318
                c2.804-3.879,6.214-7.286,10.085-10.09l3.322,2.102l-0.674-3.875c4.017-2.491,8.448-4.357,13.173-5.469l2.274,3.228L48.772,11
                c2.323-0.37,4.702-0.573,7.127-0.573c2.427,0,4.803,0.203,7.129,0.573l0.868,3.865l2.277-3.228
                c4.716,1.112,9.154,2.978,13.166,5.469l-0.672,3.875l3.327-2.102c3.872,2.804,7.276,6.21,10.081,10.09l-2.099,3.318l3.878-0.674
                c2.487,4.019,4.348,8.45,5.465,13.173l-3.225,2.274l3.859,0.869c0.376,2.32,0.575,4.7,0.575,7.129
                C100.527,57.479,100.329,59.861,99.953,62.184"/>
            <path fill="#1A3467" d="M55.899,6.651c0.941,0,1.873,0.035,2.8,0.085l-2.802-5.886l-2.796,5.886
                C54.024,6.686,54.962,6.651,55.899,6.651z"/>
            <path fill="#1A3467" d="M104.217,57.858c0.056-0.929,0.088-1.862,0.088-2.8c0-0.944-0.032-1.877-0.088-2.8l5.886,2.8L104.217,57.858
                z"/>
            <path fill="#1A3467" d="M58.699,103.376l-2.802,5.882l-2.796-5.882c0.923,0.053,1.861,0.088,2.798,0.088
                C56.84,103.464,57.771,103.429,58.699,103.376z"/>
            <path fill="#1A3467" d="M7.583,57.858l-5.888-2.8l5.888-2.8c-0.053,0.923-0.09,1.861-0.09,2.8
                C7.493,55.997,7.529,56.93,7.583,57.858z"/>
            <path fill="#EEBE55" d="M55.899,92.134c-20.443,0-37.073-16.63-37.073-37.076c0-20.449,16.63-37.076,37.073-37.076
                c20.446,0,37.075,16.627,37.075,37.076C92.974,75.504,76.345,92.134,55.899,92.134 M55.899,88.211
                c18.277,0,33.152-14.879,33.152-33.153c0-18.283-14.875-33.155-33.152-33.155c-18.281,0-33.151,14.873-33.151,33.155
                C22.748,73.332,37.618,88.211,55.899,88.211z M68.004,62.527c-0.184,0.294-0.368,0.576-0.569,0.854l7.942,8.483
                c-0.821,0.951-1.715,1.842-2.668,2.671l-8.483-7.946c-0.279,0.203-0.565,0.394-0.852,0.574l4.094,10.882
                c-1.118,0.568-2.283,1.048-3.49,1.449l-4.799-10.588c-1.051,0.245-2.149,0.395-3.279,0.395c-1.128,0-2.223-0.149-3.277-0.395
                l-4.799,10.588c-1.209-0.401-2.369-0.881-3.49-1.449l4.091-10.882c-0.288-0.181-0.569-0.371-0.847-0.574l-8.486,7.946
                c-0.953-0.829-1.843-1.72-2.671-2.671l7.945-8.483c-0.2-0.278-0.393-0.561-0.57-0.854l-10.885,4.094
                c-0.567-1.117-1.049-2.279-1.449-3.488l10.592-4.799c-0.248-1.055-0.396-2.146-0.396-3.276c0-1.131,0.148-2.225,0.396-3.278
                L31.46,46.976c0.399-1.201,0.882-2.366,1.449-3.481l10.885,4.094c0.178-0.291,0.371-0.581,0.57-0.854l-7.945-8.481
                c0.828-0.955,1.718-1.848,2.671-2.674l8.486,7.945c0.278-0.202,0.56-0.392,0.847-0.567l-4.091-10.894
                c1.121-0.561,2.28-1.05,3.49-1.446l4.799,10.592c0.33-0.082,0.667-0.143,1.007-0.202l0.386-11.618
                c0.623-0.046,1.251-0.081,1.885-0.081c0.634,0,1.263,0.035,1.889,0.081l0.384,11.618c0.338,0.059,0.676,0.12,1.006,0.202
                l4.799-10.592c1.207,0.396,2.372,0.885,3.49,1.446l-4.094,10.894c0.287,0.175,0.573,0.365,0.852,0.567l8.481-7.945
                c0.956,0.826,1.85,1.719,2.67,2.674l-7.942,8.481c0.197,0.274,0.386,0.564,0.569,0.854l10.886-4.094
                c0.561,1.116,1.052,2.281,1.446,3.481L69.75,51.78c0.245,1.054,0.394,2.147,0.394,3.278c0,1.13-0.149,2.221-0.394,3.276
                l10.589,4.799c-0.396,1.209-0.887,2.371-1.448,3.488L68.004,62.527z M55.899,61.92c3.785,0,6.864-3.079,6.864-6.862
                c0-3.784-3.08-6.866-6.864-6.866c-3.784,0-6.865,3.082-6.865,6.866C49.034,58.841,52.115,61.92,55.899,61.92z M19.762,22.901
                l-2.192-6.174l6.171,2.189C22.338,20.165,21.009,21.492,19.762,22.901z M12.333,33.978l-6.514,0.333l4.368,4.848
                C10.811,37.382,11.52,35.65,12.333,33.978z M40.001,9.348L35.16,4.979l-0.339,6.509C36.494,10.673,38.226,9.962,40.001,9.348z
                 M101.606,39.159l4.372-4.848l-6.51-0.333C100.28,35.65,100.988,37.382,101.606,39.159z M92.037,22.901l2.187-6.174l-6.166,2.189
                C89.457,20.165,90.785,21.492,92.037,22.901z M76.978,11.489l-0.332-6.509l-4.848,4.368C73.569,9.962,75.306,10.673,76.978,11.489z
                 M71.797,100.769l4.848,4.365l0.332-6.51C75.306,99.436,73.569,100.145,71.797,100.769z M88.058,91.193l6.166,2.188l-2.187-6.162
                C90.785,88.618,89.457,89.94,88.058,91.193z M99.468,76.134l6.51-0.335l-4.372-4.844C100.988,72.727,100.28,74.465,99.468,76.134z
                 M10.187,70.955l-4.368,4.844l6.509,0.335C11.52,74.465,10.811,72.727,10.187,70.955z M19.762,87.22l-2.192,6.162l6.171-2.188
                C22.338,89.94,21.009,88.618,19.762,87.22z M34.821,98.624l0.339,6.51l4.841-4.365C38.226,100.145,36.494,99.436,34.821,98.624z"/>
            <path fill="#FFFFFF" d="M55.899,21.758c-18.36,0-33.297,14.938-33.297,33.3c0,18.363,14.937,33.295,33.297,33.295
                c18.359,0,33.299-14.933,33.299-33.295C89.198,36.697,74.258,21.758,55.899,21.758 M55.899,25.532
                c15.536,0,28.299,12.065,29.431,27.317l-15.28-0.507c-1.276-6.653-7.127-11.7-14.151-11.7c-7.023,0-12.876,5.047-14.152,11.7
                l-15.275,0.507C27.607,37.598,40.364,25.532,55.899,25.532z M26.466,57.267l15.28,0.508c1.105,5.771,5.665,10.329,11.442,11.432
                l0.503,15.281C39.17,83.409,27.55,71.785,26.466,57.267z M58.11,84.487l0.502-15.281c5.778-1.103,10.33-5.661,11.438-11.432
                l15.28-0.508C84.252,71.785,72.626,83.409,58.11,84.487z M55.899,65.693c-5.866,0-10.64-4.771-10.64-10.635
                c0-5.866,4.773-10.64,10.64-10.64c5.868,0,10.641,4.774,10.641,10.64C66.54,60.923,61.767,65.693,55.899,65.693z M58.985,55.058
                c0,1.703-1.381,3.085-3.086,3.085c-1.704,0-3.089-1.383-3.089-3.085c0-1.704,1.385-3.086,3.089-3.086
                C57.604,51.972,58.985,53.354,58.985,55.058z"/>
            <rect x="206.076" y="58.588" fill="#EEBE55" width="11.209" height="7.328"/>
            <path fill="#1A3467" d="M184.025,54.976h-0.006c-0.057-15.014-7.986-22.867-23.621-22.867c-13.938,0-21.734,6.261-23.305,18.258
                h-5.288V33.099h-9.598v43.912h9.598V57.842h5.077c0.972,13.253,8.855,20.166,23.515,20.166c15.635,0,23.564-7.857,23.621-22.875
                h0.006c0-0.023-0.002-0.049-0.002-0.082C184.023,55.026,184.025,55.005,184.025,54.976 M160.399,69.787
                c-9.576,0-13.035-6.434-13.055-14.736c0.02-8.299,3.479-14.729,13.055-14.729c9.583,0,13.04,6.43,13.063,14.729
                C173.439,63.354,169.981,69.787,160.399,69.787z M213.473,42.387l-1.629,6.951h-12.803v27.673H189.6V42.387H213.473z
                 M282.629,42.387c4.234,0,6.891,1.389,8.41,2.842c1.641,1.582,2.396,3.73,2.396,5.877c0,2.146-0.629,3.727-1.58,4.931
                c-0.943,1.257-2.086,2.084-3.41,2.582c1.262,0.451,2.715,1.205,3.727,2.152c1.895,1.771,2.654,3.978,2.654,6.446
                c0,4.359-2.146,6.766-4.424,8.021c-2.334,1.328-5.805,1.772-8.848,1.772h-16.02V42.387H282.629z M279.793,55.719
                c1.385,0,3.027-0.13,3.979-0.951c0.691-0.689,0.826-1.515,0.826-2.269c0-0.761-0.135-1.708-1.016-2.466
                c-0.953-0.762-2.34-0.887-3.412-0.887h-5.453v6.573H279.793z M280.23,70.25c0.947,0,2.85-0.063,3.982-1.389
                c0.76-0.823,0.885-1.895,0.885-2.718c0-1.395-0.379-2.399-1.516-3.096c-0.824-0.505-1.961-0.69-3.352-0.69h-5.514v7.893H280.23z
                 M322.18,49.212h-8.215v27.798h-9.473V49.212h-8.158v-6.825h27.932L322.18,49.212z M358.906,59.679v-0.011
                c0-4.415-0.699-9.78-4.803-13.693c-2.717-2.528-7.297-4.236-12.414-4.236s-9.689,1.708-12.408,4.236
                c-4.105,3.913-4.801,9.279-4.801,13.693v0.013c0,4.424,0.695,9.781,4.801,13.705c2.719,2.523,7.291,4.229,12.408,4.229
                s9.697-1.706,12.414-4.229c4.104-3.924,4.803-9.281,4.803-13.705V59.679z M341.689,70.624c-1.451,0-4.26-0.259-5.836-2.656
                c-0.818-1.2-1.645-2.796-1.645-8.289c0-5.499,0.826-7.096,1.645-8.295c1.576-2.402,4.385-2.655,5.836-2.655
                c1.457,0,4.264,0.253,5.842,2.655c0.82,1.199,1.641,2.796,1.641,8.295c0,5.493-0.82,7.089-1.641,8.289
                C345.953,70.365,343.146,70.624,341.689,70.624z M245.947,32.96H235.18l-16.684,44.133h11.254l3.477-11.178h14.703l3.479,11.178
                h11.213L245.947,32.96z M235.504,58.588l5.074-16.316l5.072,16.316H235.504z"/>
        </symbol>
        
        <symbol id="Logo-YA-M" viewbox="0 0 380 110">
            <title>Logo-YA-M</title>
            <rect x="216.495" y="57.705" width="11.254" height="7.439"/>
            <path d="M299.462,58.572c1.336-0.514,2.479-1.348,3.433-2.629c0.955-1.218,1.59-2.822,1.59-5.002c0-2.147-0.762-4.328-2.416-5.931
                c-1.526-1.475-4.196-2.884-8.454-2.884h-17.167v35.072h16.115c3.021,0,6.519-0.449,8.871-1.797c2.289-1.281,4.45-3.717,4.45-8.141
                c0-2.501-0.765-4.714-2.67-6.509C302.195,59.79,300.732,59.021,299.462,58.572 M285.698,48.954h5.467c1.05,0,2.449,0.16,3.402,0.897
                c0.889,0.769,1.016,1.731,1.016,2.5s-0.127,1.602-0.825,2.308c-0.923,0.834-2.576,0.962-3.974,0.962h-5.086V48.954z M295.202,68.928
                c-1.146,1.347-3.021,1.41-3.974,1.41h-5.53v-7.983h5.53c1.367,0,2.513,0.192,3.339,0.705c1.143,0.705,1.526,1.7,1.526,3.11
                C296.094,67.004,295.964,68.093,295.202,68.928"/>
            <path d="M245.963,32.572l-16.753,44.69h11.286l3.495-11.317h14.782l3.496,11.317h11.253l-16.753-44.69H245.963z M246.28,58.539
                l5.116-16.542l5.089,16.542H246.28z"/>
            <polygon points="307.378,49.018 315.578,49.018 315.578,77.198 325.084,77.198 325.084,49.018 333.348,49.018 335.446,42.126 
                307.378,42.126 "/>
            <path d="M365.422,45.749c-2.733-2.565-7.342-4.296-12.493-4.296c-5.116,0-9.728,1.731-12.461,4.296
                c-4.1,3.975-4.799,9.393-4.799,13.881c0,4.487,0.699,9.906,4.799,13.882c2.733,2.564,7.345,4.295,12.461,4.295
                c5.151,0,9.76-1.73,12.493-4.295c4.1-3.976,4.801-9.395,4.801-13.882C370.223,55.142,369.521,49.724,365.422,45.749 M358.81,68.029
                c-1.588,2.436-4.418,2.692-5.881,2.692c-1.461,0-4.258-0.257-5.849-2.692c-0.825-1.218-1.653-2.854-1.653-8.399
                c0-5.547,0.828-7.183,1.653-8.399c1.591-2.437,4.388-2.693,5.849-2.693c1.463,0,4.293,0.257,5.881,2.693
                c0.828,1.217,1.623,2.852,1.653,8.399C360.433,65.176,359.638,66.812,358.81,68.029"/>
            <polygon points="224.156,42.125 200.188,42.125 200.188,77.198 209.661,77.198 209.661,49.146 222.535,49.146 "/>
            <path d="M170.847,31.706c-13.987,0-21.806,6.348-23.396,18.498h-5.309V32.7h-9.632v44.498h9.632V57.77h5.118
                c0.953,13.434,8.869,20.423,23.587,20.423c15.735,0,23.682-7.951,23.745-23.147v-0.096v-0.064
                C194.529,39.657,186.583,31.706,170.847,31.706 M170.847,69.889c-9.601,0-13.064-6.54-13.097-14.94
                c0.033-8.398,3.497-14.94,13.097-14.94c9.631,0,13.128,6.542,13.128,14.94C183.976,63.349,180.479,69.889,170.847,69.889"/>
            <path d="M96.813,91.592l6.198,2.213l-2.193-6.251C99.547,88.964,98.211,90.309,96.813,91.592"/>
            <path d="M85.337,105.73l0.35-6.604c-1.717,0.802-3.434,1.537-5.213,2.146L85.337,105.73z"/>
            <path d="M15.817,54.949c0-0.961,0.031-1.892,0.095-2.853L10,54.949l5.912,2.853C15.848,56.841,15.817,55.911,15.817,54.949"/>
            <path d="M61.655,103.937l2.83,5.962l2.798-5.962c-0.923,0.063-1.844,0.097-2.798,0.097C63.531,104.033,62.609,104,61.655,103.937"/>
            <path d="M28.151,87.554l-2.194,6.251l6.199-2.213C30.756,90.311,29.422,88.964,28.151,87.554"/>
            <path d="M75.165,54.949c0-5.931-4.799-10.772-10.68-10.772c-5.912,0-10.68,4.841-10.68,10.772c0,5.93,4.768,10.771,10.68,10.771
                C70.365,65.721,75.165,60.879,75.165,54.949 M64.484,58.092c-1.717,0-3.115-1.413-3.115-3.143c0-1.731,1.398-3.11,3.115-3.11
                c1.716,0,3.115,1.378,3.115,3.11C67.6,56.679,66.201,58.092,64.484,58.092"/>
            <path d="M43.631,105.73l4.863-4.457c-1.779-0.609-3.529-1.345-5.213-2.146L43.631,105.73z"/>
            <path d="M61.115,69.15l-4.736,10.581c-1.24-0.418-2.385-0.897-3.529-1.476l4.068-10.868c-0.317-0.192-0.636-0.416-0.92-0.609
                l-8.424,7.918c-0.954-0.832-1.843-1.73-2.671-2.725l7.852-8.463c-0.19-0.289-0.413-0.609-0.604-0.929l-10.775,4.103
                c-0.572-1.154-1.05-2.309-1.462-3.558l10.489-4.778c-0.063-0.224-0.095-0.416-0.158-0.641L34.89,57.193
                c1.112,14.715,12.779,26.481,27.37,27.603L61.75,69.313C61.528,69.247,61.338,69.184,61.115,69.15"/>
            <path d="M113.12,54.949c0,0.962-0.031,1.892-0.064,2.853l5.913-2.853l-5.913-2.853C113.089,53.057,113.12,53.988,113.12,54.949"/>
            <path d="M78.566,58.348l10.49,4.777c-0.413,1.249-0.889,2.403-1.462,3.558l-10.775-4.104c-0.191,0.321-0.414,0.642-0.604,0.931
                l7.852,8.463c-0.827,0.994-1.717,1.893-2.701,2.727l-8.393-7.92c-0.287,0.193-0.604,0.417-0.922,0.609l4.068,10.868
                c-1.144,0.578-2.32,1.058-3.528,1.474L67.854,69.15c-0.222,0.033-0.445,0.097-0.636,0.16L66.71,84.796
                c14.59-1.091,26.256-12.888,27.369-27.603l-15.353,0.513C78.662,57.931,78.598,58.123,78.566,58.348"/>
            <path d="M108.288,76.333l6.517-0.353l-4.387-4.904C109.814,72.87,109.083,74.633,108.288,76.333"/>
            <path d="M64.484,25.038c-15.608,0-28.45,12.214-29.595,27.667l15.354-0.514c0.063-0.224,0.127-0.416,0.158-0.641l-10.49-4.777
                c0.414-1.218,0.891-2.404,1.463-3.56l10.775,4.104c0.191-0.321,0.414-0.641,0.604-0.93l-7.851-8.463
                c0.826-0.995,1.716-1.892,2.67-2.725l8.424,7.918c0.286-0.192,0.603-0.417,0.92-0.609L52.85,31.642
                c1.145-0.577,2.289-1.058,3.529-1.475l4.736,10.58c0.35-0.095,0.731-0.16,1.081-0.225l0.381-11.605
                c0.636-0.031,1.272-0.063,1.908-0.063s1.271,0.032,1.908,0.063l0.381,11.605c0.35,0.065,0.731,0.129,1.081,0.225l4.737-10.58
                c1.208,0.417,2.383,0.898,3.528,1.475L72.05,42.51c0.317,0.191,0.635,0.417,0.921,0.609l8.392-7.918
                c0.986,0.833,1.877,1.73,2.702,2.725l-7.851,8.463c0.19,0.289,0.414,0.609,0.604,0.93l10.775-4.104
                c0.572,1.155,1.048,2.342,1.462,3.56l-10.49,4.777c0.031,0.225,0.095,0.417,0.158,0.641l15.355,0.514
                C92.935,37.252,80.092,25.038,64.484,25.038"/>
            <path d="M108.765,62.161c0.382-2.34,0.572-4.743,0.572-7.212c0-2.468-0.19-4.873-0.572-7.212l-3.879-0.899l3.243-2.308
                c-1.112-4.777-2.988-9.265-5.499-13.337l-3.911,0.673l2.129-3.366c-2.828-3.944-6.262-7.374-10.14-10.227l-3.337,2.147l0.667-3.942
                c-4.038-2.533-8.488-4.424-13.225-5.546l-2.288,3.27l-0.89-3.911c-2.32-0.386-4.704-0.578-7.152-0.578s-4.833,0.191-7.152,0.578
                l-0.889,3.911l-2.289-3.27c-4.737,1.122-9.188,3.013-13.225,5.546l0.667,3.942l-3.337-2.147c-3.91,2.853-7.311,6.316-10.14,10.227
                l2.097,3.366l-3.877-0.673c-2.511,4.072-4.386,8.56-5.498,13.337l3.242,2.308l-3.879,0.899c-0.381,2.34-0.572,4.745-0.572,7.212
                c0,2.469,0.191,4.873,0.572,7.212l3.879,0.898l-3.242,2.309c1.112,4.777,2.987,9.265,5.498,13.337l3.877-0.675l-2.097,3.366
                c2.829,3.912,6.229,7.375,10.14,10.229l3.337-2.148l-0.667,3.944c4.037,2.532,8.488,4.422,13.225,5.544l2.289-3.271l0.889,3.914
                c2.32,0.384,4.704,0.576,7.152,0.576s4.832-0.192,7.152-0.576l0.89-3.914l2.288,3.271c4.737-1.122,9.188-3.012,13.225-5.544
                l-0.667-3.944l3.337,2.148c3.878-2.854,7.312-6.316,10.14-10.229L98.72,78.03l3.911,0.675c2.511-4.072,4.387-8.56,5.499-13.337
                l-3.243-2.309L108.765,62.161z M64.484,88.708c-18.469,0-33.473-15.133-33.473-33.759c0-18.594,15.004-33.758,33.473-33.758
                c18.437,0,33.473,15.164,33.473,33.758C97.958,73.575,82.921,88.708,64.484,88.708"/>
            <path d="M14.164,75.98l6.517,0.353c-0.794-1.7-1.525-3.463-2.129-5.257L14.164,75.98z"/>
            <path d="M67.282,5.962L64.484,0l-2.83,5.962c0.955-0.032,1.876-0.096,2.83-0.096C65.438,5.866,66.36,5.93,67.282,5.962"/>
            <path d="M85.337,4.199l-4.863,4.424c1.78,0.609,3.497,1.347,5.213,2.147L85.337,4.199z"/>
            <path d="M100.818,22.344l2.193-6.251l-6.198,2.212C98.211,19.588,99.546,20.934,100.818,22.344"/>
            <path d="M114.805,33.918l-6.517-0.352c0.794,1.699,1.526,3.461,2.13,5.257L114.805,33.918z"/>
            <path d="M20.68,33.565l-6.517,0.353l4.387,4.904C19.155,37.028,19.886,35.264,20.68,33.565"/>
            <path d="M43.631,4.199l-0.35,6.572c1.685-0.801,3.434-1.539,5.213-2.147L43.631,4.199z"/>
            <path d="M32.156,18.305l-6.199-2.213l2.194,6.252C29.422,20.934,30.756,19.588,32.156,18.305"/>
        </symbol>
            
    </svg>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/v-mask/1.3.3/v-mask.min.js" integrity="sha256-DGX5AkANO+skx+hr4txOqTNBjMUoliR8ieSruNiK8wY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.5.13/vue-cookies.min.js"></script>
    
    <script src="assets/js/app.js?<?=md5_file(__DIR__.'/assets/js/app.js');?>"></script>
    
    <script>
	if ('serviceWorker' in navigator) {
	 window.addEventListener('load', function() {  
	   navigator.serviceWorker.register('/sw.js').then(
		 function(registration) {
		   // Registration was successful
		   console.log('ServiceWorker registration successful with scope: ', registration.scope); },
		 function(err) {
		   // registration failed :(
		   console.log('ServiceWorker registration failed: ', err);
		 });
	 });
	}
	</script>
    
  </div></body>
</html>
