@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic');

/* Colors */
:root {
	--yalightgray: #f5f5f5;
	--yagray: #c0c0c0;
	--yadarkgray: #696969;
	
	--yablack: #000000;
	--yawhite: #ffffff;
	
	--yalightblue: #87cefa;
	--yablue: #1e90ff;
	--yadarkblue: #003375;
	--yablackblue: #00214c;
	
	--yalightyellow: #ffe687;
	--yayellow: #fdba4d;
	--yadarkyellow: #ff9e00;
}

body {
	font-family: 'PT Sans', sans-serif;
	overflow: auto;
}
h1, h2, h3 {
	font-weight: 700;
}
/*
.alert {
	display: none;
}
*/
.mob {
	display: none;
}

.bg-yawhite {background-color: var(--yawhite);}
.bg-yalightgray {background-color: var(--yalightgray);}
.bg-yagray {background-color: var(--yagray);}
.bg-yadarkgray {background-color: var(--yadarkgray);}
.bg-yablack {background-color: var(--yablack);}
.bg-yawhite {background-color: var(--yawhite);}
.bg-yalightblue {background-color: var(--yalightblue);}
.bg-yablue {background-color: var(--yablue);}
.bg-yadarkblue {background-color: var(--yadarkblue);}
.bg-yablackblue {background-color: var(--yablackblue);}
.bg-yalightyellow {background-color: var(--yalightyellow);}
.bg-yayellow {background-color: var(--yayellow);}
.bg-yadarkyellow {background-color: var(--yadarkyellow);}


.c-yalightgray {color: var(--yalightgray);}
.c-yagray {color: var(--yagray);}
.c-yadarkgray {color: var(--yadarkgray);}
.c-yablack {color: var(--yablack);}
.c-yawhite {color: var(--yawhite);}
.c-yalightblue {color: var(--yalightblue);}
.c-yablue {color: var(--yayablue);}
.c-yadarkblue {color: var(--yadarkblue);}
.c-yalightyellow {color: var(--yalightyellow);}
.c-yayellow {color: var(--yayellow);}
.c-yadarkyellow {color: var(--yadarkyellow);}

a, a:focus, a:active, a:visited {
	color: var(--yadarkblue);
	text-decoration: none;
	transition: .3s;
}
a:hover {
	color: var(--yablackblue);
	text-decoration: none;
	transition: .3s;
}

.but {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
	padding: 8px 16px;
}
.but svg {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.but-blue, .but-blue:active, .but-blue:focus, .but-blue:visited {
	background-color: var(--yadarkblue);
	color: var(--yawhite) !important;
	transition: .3s;
}
.but-blue:hover {
	background-color: var(--yablackblue);
	color: var(--yawhite);
	transition: .3s;
	text-decoration: none;
}

.but-yell, .but-yell:active, .but-yell:focus, .but-yell:visited {
	background-color: var(--yayellow);
	color: var(--yablack);
	transition: .3s;
}
.but-yell:hover {
	background-color: var(--yadarkyellow);
	color: var(--yawhite);
	transition: .3s;
	text-decoration: none;
}

.but-white, .but-white:active, .but-white:focus, .but-white:visited {
	background-color: var(--yawhite);
	color: var(--yadarkblue);
	transition: .3s;
}
.but-white:hover {
	background-color: var(--yawhite);
	color: var(--yablackblue);
	transition: .3s;
	text-decoration: none;
}
.but-white svg {
	fill: var(--yadarkblue);
}
.but-white:hover svg {
	fill: var(--yablackblue);
}

.but-gray, .but-gray:active, .but-gray:focus, .but-gray:visited {
	background-color: var(--yagray);
	color: var(--yablack);
	transition: .3s;
}
.but-gray:hover {
	background-color: var(--yadarkgray);
	color: var(--yawhite);
	transition: .3s;
	text-decoration: none;
}
.but-gray svg {
	fill: var(--yalightgray);
}
.but-gray:hover svg {
	fill: var(--yawhite);
}


.but-circle {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 25px;
}
.but-circle.circle-ladge {
	 width: 150px;
    height: 150px;
    padding: 50px;
}


.form-control:focus {
    border-color: var(--yadarkblue);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.25);
}


.top-row {
}
.top-row svg {
	width: 120px;
	height: 35px;
	fill: var(--yawhite);
}
.top-row a {
	color: var(--yawhite);
}





.footer svg {
	width: 120px;
	height: 35px;
	fill: var(--yagray);
}