.clear {
	clear: both;
}

.btn {
	width: 80%;
	border-radius: 0;
}
.btn-lg {
    padding: 2.5rem 1rem;
    border-radius: 0;
    width: 100%;
}
div[role="steps"] {
	margin-bottom: 100px;
	display: none;
}
.YApps-Icon {
	width: 36px;
	height: 36px;
	fill: black;
}
.col-md-4 span {
	position: absolute;
    margin-top: 6px;
}
div[role="spiner"], div[role="error"] {
	display: none;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
	border-color: #0c2f6e;
	background-color: #0c2f6e;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus {
	background-color: #757575;
  	border-color: #757575;
	height:	60px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	border-color: #0c2f6e;
	background-color: #0c2f6e;
}
.list-unstyled li {
    padding: 10px;
}